body{
    background-image:linear-gradient(to bottom,#000000,#ffffff);
    font-size:8px;
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
html{
    height:100%;
}
.headerClass{
    background-image:url("banner.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius:100px;
    border-top-left-radius:100px;
    height:250px;
}
.headerClass img{
    float:right;
}
.articleClass h1{
    font-family:cursive;
    font-size:4em;
    padding-top:20px;
    font-style:bold;
    background-color:yellow;
    padding:20px 20px 20px 20px;
    margin:20px 100px 0px 100px;
    border-style:double;
    border-color:red;
}
.articleClass img{
    margin:5px 5px 5px 5px;
    border-radius:30px; 
}
.wrapper{
    margin:0px 100px 0px 100px; 
    border: 2px solid #a1a1a1;
    border-radius:100px;
    background-image:linear-gradient(to bottom,#008040,#ffffff); 
}
.footerClass h1{
    float:right; 
    pading-top:0px; 
    margin-top: 0px;
    font-size:1.8em;
}
.headerClass img{
    border-radius:100px;    
}
.navClass ul {
    list-style-type: none;
    min-width:100%; 
    max-width: 100%;
    padding: 0;
    overflow: hidden;
    border: 1px double red;
    display:inline-block;
    background-color:burlywood;   
}

.navClass li {
    float: left;
    min-width:25%; 
    max-width: 25%;
    font-family:cursive;
    font-size:2.5em; 
}
.navClass li a {
    
    display: block;
    color:black;    
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}

.navClass li a:hover:not(.active) {
    background-color:bisque;
}

.navClass li a.active {
    color: white;
    background-color: #4CAF50;
}
.contentTextClass {
    border-clolor:green;
    border-style:double;
    border-radius:100px;
    padding-left:30px;
    font-size:2em; 
}
.articleClass h2{
    font-family:cursive;
    padding-left:30px;
    font-size:3em; 
}
.articleClass ul{
    list-style:none;
}